
<% glove_sizes = ['xs','s','m','l','xl','xxl'] -%> 
<% shoe_sizes = (1..20) -%>  
<% shoe_size_types = ['Womens','Mens'] -%>

<li id='rental-form' style="display:none;">
<ul>
  <li>Board Type: <%= select(:trip_enrollment, :board_type, ['short', 'long', 'fun/hybrid'], :include_blank => 'No board') -%></li>
  <li id='suit-check-box'>
  Need a wet suit? 
  <%= check_box :trip_enrollment, :suit, :onClick => "enable_elements(['trip_enrollment_know_suit_size', 'trip_enrollment_suit_size', 'trip_enrollment_weight', 'trip_enrollment_height'])" -%>
  </li>
  <%= render :partial => 'suit_size_check_box', :locals => {:action => :show_suit_form} -%> 
  <%= render :partial => 'suit_size_form' -%> 

  <% options = {:onclick => "enable_element(\"trip_enrollment_glove_size\")"} -%>
  <li>Need gloves? <%= check_box(:trip_enrollment, :gloves, options) -%> </li> 
  <li>Glove size: 
  <%= select :trip_enrollment, :glove_size, glove_sizes, :include_blank => 'Select a glove size' -%> </li>

  <% options = {:onClick => "enable_element(\"trip_enrollment_hoody_size\")"} %> </li>
  <li>Need a hoody? <%= check_box(:trip_enrollment, :hoody) -%>  </li>

  <% options = {:onClick => "enable_elements(['trip_enrollment_booty_size', 'trip_enrollment_shoe_size_type'])"} %>
  <li>Need booties? <%= check_box("trip_enrollment", "booties", options) -%>  </li>
  <li>Booties size <%= select :trip_enrollment, :booty_size,  shoe_sizes, :include_blank => 'Select shoe size' -%> &nbsp 
  Men/Women <%= select :trip_enrollment, :shoe_size_type, shoe_size_types -%> </li>
</ul>
</li>
