<h1>New trip_enrollment</h1>

<%= error_messages_for :trip_enrollment %>

<% form_for(@trip_enrollment) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', trip_enrollments_path %>
