<!-- should be in the header id think, <title>Propaganda</title> -->

<p><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/propaganda_surfboard.jpg" width="214" height="71"></p>

<table width="40%" border="0" cellspacing="0" cellpadding="" bgcolor="#000000" align="center">
<tr>
<td>&nbsp;</td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/P1010116.JPG"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/P1010116.JPG" width="200" border="0"></a></td>
<td>&nbsp;</td>
</tr>

<tr>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/clubPoster_color.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/clubPoster_color.jpg" width="200" border="0"></a></td>
<td>&nbsp;</td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/cheaperFriendsColor2.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/cheaperFriendsColor2.jpg" width="200" border="0"></a></td>
</tr>
<tr>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/pamphlet_bottom.jpg"><img src="pamphlet_bottom.jpg" width="200" border="0"></a></td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/pamphlet_top.jpg"><img src="pamphlet_top.jpg" width="200" border="0"></a></td>
<td>&nbsp;</td>
</tr>
<tr>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/halloweenPoster.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/halloweenPoster.jpg" width="200" border="0"></a></td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn.jpg" width="200" border="0"></a></td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn_color.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn_color.jpg" width="200" border="0"></a></td>
</tr>
<tr>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/lastTrip.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/lastTrip.jpg" width="200" border="0"></a></td>
<td>&nbsp;</td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn_censored.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/nov2_BzzrGrdn_censored.jpg" width="200" border="0"></a></td>
</tr> 
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>   
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/forfacebook.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/forfacebook.jpg" width="200" border="0"></a></td>
</tr> 
<tr>
<td>&nbsp;</td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/clubPoster2bbd.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/clubPoster2bbd.jpg" width="200" border="0"></a></td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/cheaperFriends4.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/cheaperFriends4.jpg" width="200" border="0"></a></td>
</tr>
<tr>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/commilogo5_.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/commilogo5_.jpg" width="200" border="0"></a></td>
<td>&nbsp;</td>
<td><a href="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/commilogo6_.jpg"><img src="http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/propaganda/commilogo6_.jpg" width="200" border="0"></a></td>  
</tr>       
<tr>
<td><a href="./test/pics/rbPoster.jpg"><img src="./test/pics/rbPoster.jpg" width="200" border="0"></a></td>
<td><a href="./test/pics/rbPosterBW.jpg"><img src="./test/pics/rbPosterBW.jpg" width="200" border="0"></a></td>
<td>&nbsp;</td>
</tr>
</table>
