<table align="center" border="0" cellpadding="5" cellspacing="5" width="75%">
<tbody>
<tr>
<td><strong><font color="#000000" size="+1">Wavewatch British Columbia Swell Report</font></strong></td>
</tr>
<tr>
<td>
<!--Start magnet code-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="260" width="305"><param name="movie" value="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=19&amp;city=British Columbia"><param name="quality" value="high"><embed src="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=19&amp;city=British%20Columbia" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" height="260" width="305"></object><br>Go to wavewatch.com for your local <a href="http://www.wavewatch.com">surf forecasts</a>                        
<!--End magnet code-->    
</td>
</tr>
<tr>
<td><strong><font color="#000000" size="+1">Wavewatch Washington Swell Report</font></strong></td>
</tr>
<tr>
<td>
<!--Start magnet code-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="260" width="305"><param name="movie" value="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=1&amp;city=Washington"><param name="quality" value="high"><embed src="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=1&amp;city=Washington" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" height="260" width="305"></object><br>Go to wavewatch.com for your local <a href="http://www.wavewatch.com">surf forecasts</a>                         
<!--End magnet code-->    
</td>
</tr>
<tr>
<td><strong><font color="#000000" size="+1">Wavewatch Oregon Swell Report</font></strong></td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<!--Start magnet code-->
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" height="260" width="305"><param name="movie" value="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=2&amp;city=Oregon"><param name="quality" value="high"><embed src="http://www.wavewatch.com/flash_tools/current_magnet.swf?theLocation=2&amp;city=Oregon" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" height="260" width="305"></object><br>Go to wavewatch.com for your local <a href="http://www.wavewatch.com">surf forecasts</a>                                                         
<!--End magnet code-->    
</td>
<td>&nbsp;</td>   
</tr>
</tbody></table>

<table align="center" border="0" cellpadding="5" cellspacing="5" width="75%">
<tbody><tr><th><strong><font color="#000000" size="+2">Helpful Links</font></strong></th>

</tr><tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.ndbc.noaa.gov/station_page.php?station=46206">La Perlouse Bank Buoy Report</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.surf-forecast.com/breaks/JordanRiver.1to3.shtml">Jordan River Swell Report</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Check out the swell coming into vancouver island.</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">South island swell/surf/weather conditions.</font></td>
</tr> 


<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfline.com/home/index.cfm" title="Surfline">Surfline</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://wannasurf.com/spot/North_America/Canada/West_Coast/index.html">Wannasurf spot atlas for Vancouver island</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Surf reports + surf cams + sweet movies</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Tofino surfing information.</font></td>
</tr>
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfsinn.ca/" title="Surfs Inn">Surfs Inn</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfjunction.com/howtogethere/" title="Surf Junction">Surf Junction</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Our recommended hostel in ucluelet</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">A great place to camp in ucluelet (sweet hot tub)</font></td>
</tr>
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://vancouver.craigslist.org/search/spo?query=surf" title="Criagslist">Craigslist</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://en.wikipedia.org/wiki/Tofino,_British_Columbia" title="Tofino on Wikipedia">Tofino on Wikipedia</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Best place to get a used/cheap surfboard</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Wikipedia: Answers for life.. and homework.</font></td>
</tr>
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.malpaissurfcamp.com/" title="Malpais">Mal Pais Surf Camp</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.sanjuandelsur.org.ni/" title="SanJuanDelSur">San Juan Del Sur</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Host of the clubs 2005 reading break trip, this place is amaaazing.</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Nicaragua.</font></td>
</tr>  
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.fiberglasshawaii.com/" title="Fiberglasshawii">Fiberglass Hawaii</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.tapplastics.com/" title="Tapplastics">Tap Plastics</a></font></strong></td>

</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Maybe when the site isnt under construction, you can order glass etc...</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">A better site, you can order glass etc.. now, which is nice.</font></td>
</tr>   
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.sdsc.edu/surf/surfer_resources.html" title="SurfResources">Surf Resources</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.stormsurf.com/page2/tutorials/menu.html" title="SurfForecastTutorial">Surf Forecast Tutorial</a></font></strong></td>

</tr>
<tr>
                                                                                                                                                                                                                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Great site w/ a ton of neat surf related stuff (like ascii art, woohoo!)</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">In case you were wondering what to do w/ the information above.</font></td>
</tr>  
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://magicseaweed.com/Vancouver-Island-Surf-Forecast/50/">Magic Seaweed</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfingvancouverisland.com/">CoastalBC.com</a></font></strong></td>

</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">More vancouver island surf reports.</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Great vancouver island resource, good weather reports etc...</font></td>
</tr>  
<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.aaronchanggallery.com/">Aaron Chang</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfrider.org//">Surfrider Foundation</a></font></strong></td>
</tr>
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Awesome surf photography + clothes..</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Environmentally aware surfers.</font></td>
</tr>    

<tr>
<td><strong><font color="#000000" size="+1"><a href="http://www.surfline.com/travel/boardbag_charges.cfm?id=15425">Surfline Board Bag Fees</a></font></strong></td>
<td><strong><font color="#000000" size="+1"><%= link_to "Long Beach Surf Shop", "http://longbeachsurfshop.com/" -%> </font></strong></td>
</tr>    
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">List of Airline Board Baq Fees</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Great surf shop, great people, we typically rent from long beach on our trips.</font></td>
</tr>    

<tr>
<td><strong><font color="#000000" size="+1"><%= link_to "Aftanas Designs", "http://www.aftanasdesigns.com/index.htm" -%></font></strong></td>
<td><strong><font color="#000000" size="+1"><%= link_to "Wanna Surf BC", "http://www.wannasurf.com/spot/North_America/Canada/West_Coast/index.html" -%></font></strong></td>
</tr>    
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Tofino shaper, high quality local boards. Also does board repairs</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Fairly detailed descriptions of various surf spots on the island</font></td>
</tr>    

<tr>
<td><strong><font color="#000000" size="+1"><%= link_to "Surf-Forecast", "http://www.surf-forecast.com/" -%></font></strong></td>
<td><strong><font color="#000000" size="+1"></font></strong></td>
</tr>    
<tr>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1">Probably one of the better surf forecast sites out there, lots and lots of info</font></td>
<td>&nbsp;&nbsp;&nbsp;&nbsp;<font color="#000000" size="-1"></font></td>
</tr>    


</tbody></table>
