<CENTER>

<h1><EM><STRONG>Big Thanks to all surf club sponsors!</STRONG></EM></h1>
<HR></HR>
Click on the pictures and check out what they are about.

You must always show your membership card, so keep it and carry it!
<HR></HR><BR><BR><BR>
<dl> 
<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/vozz.jpg></IMG></dt> 
<dd>20% off, look for vozz giveaways at club events!</dd> 

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/thrillerlogo2.jpg></IMG></dt> <dd>20% off (These guys print our club t-shirts)</dd> </dl>

<dt><%= link_to(image_tag("zasuu.jpg"), "http://www.zasuu.com/")-%></dt>
<dd>Look for tons of Zasuu give freebies at club events, 40% off at their online store!!! Contact us for the code.</dd>

<dt><%= link_to(image_tag("hyperflex.gif"), "http://www.hyperflexusa.com/")-%> </dt>
<dd>Great wet suits, a great great deal, contact us or visit the sailing club at Jericho Center.</dd>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/westbeach_blacktab.jpg></IMG></dt> <dd>20% off stuff, 50% off rentals</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/boardroom.jpg></IMG></dt> <dd>15% off stuff, 50% off rentals</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/pacificboarder.jpg></IMG></dt> <dd>    15% off surf stuff (not boards, sorry), 50% off rentals (woohoo!)</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/longbeachlogo.jpg></IMG></dt> <dd>Cheap 24 hour rental, bring the boards back late Sunday.</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/justswimwearlogo.jpg></IMG></dt> <dd>15% off everything except 2010 merchandise</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/naishlogo.jpg></IMG></dt> <dd>Naish makes sweet surf, paddle, and windsurf boards. Ask us about getting your hands on one!</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/innerrhythm.jpg></IMG></dt> <dd>Stay there deal -- 2 nights plus 24 hour rental for 89 bucks, 10% in store discount also some lesson/accommodation deals</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/wink-logo.jpg></IMG></dt> <dd>30% off on Thursdays</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/taco_shack.jpg width="300" border="0"></IMG></dt> 
<dd>15% off all the time, need we say more? go!</dd>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/reeflogo.jpg></IMG></dt> <dd>Look for reef give aways, show your club card buy two pitchers, get the 3rd for FREE (groups of 6 or more)!</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/R_Blogo.jpg width=100></IMG></dt> <dd>Look for R&B giveaways and R&B beer at our beer gardens!</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/westcoastubrew_logo.jpg></IMG></dt> <dd>10% off brewing</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/surf_golds_logo.jpg></IMG></dt> <dd>Look for Golds Gym giveaways at club events! (month long memberships, t-shirts, discount coupons)</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/logos/delsollogo.jpg width=200></IMG></dt> <dd>20% bonus time on any package purchased. Look for del sol giveaways during club days and club events!</dd> </dl>

<dt><IMG SRC=http://www.ams.ubc.ca/clubs/surfclub/surfclub2006/sponsors/surfsinn.jpg></IMG></dt> <dd>10% off</dd> </dl>


</CENTER>
